div(class="content")
  include ./left.jade  
          
  div(class="right")
    div(class="toolbar")
      button(id='btn_toggle_feedback_selected',onclick="toggle_feedback_selected();",class="btn") 全选
      &nbsp;
      button(style='display:none;',id='btn_del_feedback_selected',onclick="del_feedback();",class="btn") 删除选中
    table(id='dataTable',class="tablesorter")
      thead
        tr
          th(width='16')
          th 应用
          th 反馈内容
          th(width='120') 接收时间
          th(width='44')
      tbody
        -if(feedbacks && feedbacks.length > 0)
          -for (var i=0;i< feedbacks.length ;i++)
           tr
            td 
              input(type='checkbox',value='#{feedbacks[i].id}')
            td #{feedbacks[i].app_name}
            td #{feedbacks[i].content}
            - var date = new Date(feedbacks[i].feedback_created);
            td #{date.format("YYYY-MM-dd hh:mm:ss")}
            td 
              button(class="btn",onclick='del_feedback(#{feedbacks[i].id});') 删除 
        else
          tr
            td(colspan=5) 暂无数据

  div(class="clr")        

script(type='text/javascript')
   $(function(){
     $($("a",".nav")[2]).addClass('selected');
     $($("a",".left")[3]).addClass('selected'); 
   });

   $("#dataTable").tablesorter({exclude:[0,4]});

   function del_feedback(id){
      if(!id){
        var ids = '';
        $("input","#dataTable").each(function(){
          if($(this).attr('checked')=='checked'){
             ids += $(this).val()+',';
          }
        });
        id = ids.substr(0,ids.length-1);
      }

      noty({
        layout:'top',
        modal:true,
        text: "确定要执行删除操作?", 
        buttons: [
          {type: 'btn', text: '删除', click: function($noty) {
                //
                loading();
                $.post("/applications/del_feedback","id="+id,function(data){
                    hideLoading();
                    $noty.close();
                    if(data.indexOf("success")!=-1){
                      noty({
                        timeout: 1000,force: true, text: '操作成功!', type: 'success',
                        onClose:function(){
                          location.reload();
                        }
                      });
                    }else{
                      noty({timeout: 1000,force: true, text: '操作失败!', type: 'error'});
                    }
                });
            }
          },
          {type: 'btn', text: '取消', click: function($noty) {
              $noty.close();
            }
          }
          ],
        closable: false,
        timeout: false,
        type:'error'
      });
   }

   $("input","#dataTable").click(function(){
        var flag = false;
        $("input","#dataTable").each(function(){
          if($(this).attr('checked')=='checked'){
             flag = true;
          }
        });
        if(flag){
          $('#btn_del_feedback_selected').show();
        }else{
          $('#btn_del_feedback_selected').hide();
        }
    });

   function toggle_feedback_selected(){
      var flag = false;
      $("input","#dataTable").each(function(){
        if($(this).attr('checked')=='checked'){
           flag = true;
        }
      });

      if(!flag){
        $('#btn_toggle_feedback_selected').text('取消');
        $('#btn_del_feedback_selected').show();
        $("input","#dataTable").attr('checked',true);
      }else{
        $('#btn_toggle_feedback_selected').text('全选');
        $('#btn_del_feedback_selected').hide();
        $("input","#dataTable").attr('checked',false);
      }
   }
