div(class="content")
  include ./left.jade  
          
  div(class="right")
    div(class="toolbar")
      button(onclick="app_add();",class="btn") 添加应用
    table(id='dataTable',class="tablesorter")
      thead
        tr
          th 应用名称
          th 应用类型
          th(width='120') App Key & App Secret
          th(width='64')
          th(width='88')
      tbody
        -if(apps && apps.length > 0)
          -for (var i=0;i< apps.length ;i++)
           tr
            td #{apps[i].app_name}
            td #{apps[i].type_name} 
            td(title='#{apps[i].app_secret}') #{apps[i].app_key}
            td 
              div(style='margin-top:15px;',class='qrcode',text='#{apps[i].app_secret}') 
            td 
              button(class="btn",onclick='app_edit(#{apps[i].id});') 设置   
              &nbsp;
              button(class="btn",onclick='del_app(#{apps[i].id});') 删除 
        else
          tr
            td(colspan=4) 暂无数据

  div(class="clr")        

script(type='text/javascript')
   $(function(){
     $($("a",".nav")[2]).addClass('selected');
     $($("a",".left")[0]).addClass('selected'); 
     $('.qrcode','#dataTable').each(function(){
       var text = $(this).attr('text');
       $(this).qrcode({width: 64,height: 64,text:text});
     });
   });
   $("#dataTable").tablesorter({exclude:[3,4]});

   function del_app(id){
      noty({
        layout:'top',
        modal:true,
        text: "确定要执行删除操作?", 
        buttons: [
          {type: 'btn', text: '删除', click: function($noty) {
                //
                loading();
                $.post("/applications/del","id="+id,function(data){
                    hideLoading();
                    $noty.close();
                    if(data.indexOf("success")!=-1){
                      noty({
                        timeout: 1000,force: true, text: '操作成功!', type: 'success',
                        onClose:function(){
                          location.reload();
                        }
                      });
                    }else{
                      noty({timeout: 1000,force: true, text: '操作失败!', type: 'error'});
                    }
                });
            }
          },
          {type: 'btn', text: '取消', click: function($noty) {
              $noty.close();
            }
          }
          ],
        closable: false,
        timeout: false,
        type:'error'
      });
   }
   
   function app_edit(id){
      loading();
      $.sheetbox('/applications/edit','id='+id,{layout:'right',
        onShow:function(){
          hideLoading();
        }
      });
   } 

   function app_add(){
      loading();
      $.sheetbox('/applications/add','',{layout:'right',
        onShow:function(){
          hideLoading();
        }
      });
   } 

