div(class="content")
  include ./left.jade  
          
  div(class="right")
    div(class="toolbar")
      button(onclick="version_add();",class="btn") 发布新版本
    table(id='dataTable',class="tablesorter")
      thead
        tr
          th 应用名称
          th(width='80') 版本号
          th(width='64') 下载地址
          th(width='88')
      tbody
        -if(versions && versions.length > 0)
          -for (var i=0;i< versions.length ;i++)
           tr(class='master_item')
            td #{versions[i].app_name}
            td 
              span(title='#{versions[i].release_note}') #{versions[i].version} 
            td
              p(style='float:left;margin-top:15px;',class='qrcode',text='#{versions[i].url}',title='#{versions[i].url}') 
            td 
              button(class="btn",onclick='version_edit(#{versions[i].id});') 设置   
              &nbsp;
              button(class="btn",onclick='del_version(#{versions[i].id});') 删除 
        else
          tr
            td(colspan=4) 暂无数据

  div(class="clr")        

script(type='text/javascript')
   $(function(){
     $($("a",".nav")[2]).addClass('selected');
     $($("a",".left")[2]).addClass('selected'); 
     $('.master_item span[title]').qtip({
       style:{ name: 'cream', tip: true,width:300},
       position:{
         corner: {
           target: 'bottomRight',
           tooltip: 'topLeft'
        }
       }
     });

     $('.qrcode','#dataTable').each(function(){
       var text = $(this).attr('text');
       $(this).qrcode({width: 64,height: 64,text:text});
     });
   });
   $("#dataTable").tablesorter({exclude:[2,3]});

   function del_version(id){
      noty({
        layout:'top',
        modal:true,
        text: "确定要执行删除操作?", 
        buttons: [
          {type: 'btn', text: '删除', click: function($noty) {
                //
                loading();
                $.post("/applications/del_version","id="+id,function(data){
                    hideLoading();
                    $noty.close();
                    if(data.indexOf("success")!=-1){
                      noty({
                        timeout: 1000,force: true, text: '操作成功!', type: 'success',
                        onClose:function(){
                          location.reload();
                        }
                      });
                    }else{
                      noty({timeout: 1000,force: true, text: '操作失败!', type: 'error'});
                    }
                });
            }
          },
          {type: 'btn', text: '取消', click: function($noty) {
              $noty.close();
            }
          }
          ],
        closable: false,
        timeout: false,
        type:'error'
      });
   }
   
   function version_edit(id){
      loading();
      $.sheetbox('/applications/edit_version','id='+id,{layout:'right',width:800,
        onShow:function(){
          hideLoading();
        }
      });
   } 

   function version_add(){
      loading();
      $.sheetbox('/applications/add_version','',{layout:'right',width:800,
        onShow:function(){
          hideLoading();
        }
      });
   } 

